PUBLIC_SITE_LOCALE=en
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_FORM_ENDPOINT=
PUBLIC_GA_ID=G-BW55TZPSK4
PUBLIC_CLARITY_ID=k1u65f5lob
PUBLIC_IUBENDA_SITE_ID=3966668
PUBLIC_IUBENDA_POLICY_ID=81160121
PUBLIC_GOOGLE_SITE_VERIFICATION=example-verification
