PUBLIC_SITE_LOCALE=en
PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_FORM_ENDPOINT=
PUBLIC_GA_ID=G-BW55TZPSK3
PUBLIC_CLARITY_ID=k1u65f5low
PUBLIC_IUBENDA_SITE_ID=3966669
PUBLIC_IUBENDA_POLICY_ID=81160121
PUBLIC_GOOGLE_SITE_VERIFICATION=JLjm6wIyTtC7Gv_0iXyLSNs_1KhYnHqZtgm2aDtLhR0
